/* add code here to make your image 300px tall, have a border-radius of 25px, and a 1px black solid border.*/
img {
  height: 300px;
  border: 1px solid black;
  border-radius: 25px;
}
/* add code here to change the color and font family of your band's name/title */
h1 {
  color: purple;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* Bonus: change the color of your list elements */
ol li {
  color: purple;
}
